.blog {
    overflow: hidden;
    &__wrapper {
        padding: 51px 0 70px 17px;
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 48px;
        color: #1D2931;
    }

    &__title {
        position: relative;
        font-weight: 800;
        font-size: 43px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
        color: #1D2931;
        margin-bottom: 40px;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url("../img/partners/redline.svg");
            background-size: 743px 34px;
            background-repeat: no-repeat;
            bottom: 17px;
            left: -362px;
            top: 8px;
            width: 743px;
            height: 34px;
        }

        &::after {
            display: block;
            position: absolute;
            content: "";
            background-image: url("../img/partners/redline.svg");
            background-size: 743px 34px;
            background-repeat: no-repeat;
            bottom: 17px;
            right: -360px;
            top: 8px;
            width: 743px;
            height: 34px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px 10px;
        margin-bottom: 30px;
    }

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 30px;
    }

    &__item {
        display: block;
        background: #FFFFFF;
        border: 1px solid #1D2931;
        border-radius: 23px;
        padding: 13px 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;

        a {
            color: #1D2931;
        }

        &:first-child {
            border: none;
            padding: 13px 55px;

            a {
                color: #FFFFFF;
            }
        }
    }
}