.cardlist {

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px 30px;
        padding: 33px 0 71px 17px;

        @media (max-width: 814px) {
            gap: 30px 7px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 273px;

        &:nth-child(4) {
            .cardlist__icon {
                background-color: #30363C;
            }
        }

        &:nth-child(6) {
            .cardlist__icon {
                background-color: #30363C;
            }
        }

        @media (max-width: 1000px) {
            width: 253px;
        }

        @media (max-width: 930px) {
            width: 215px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 131px;
        border: solid 1px #F15F79;
        border-radius: 20px;
        margin-bottom: 30px;

        @media (max-width: 1000px) {
            height: 121px;
        }

        img {
            @media (max-width: 1000px) {
                width: 150px;
            }
        }
    }
    
    &__title {
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #1D2931;
        margin-bottom: 14px;
    }

    &__description {
        flex-grow: 1;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #1D2931;
        margin-bottom: 20px;
    }

    &__button {
        flex-shrink: 0;
        width: 100%;
        color: #fff;
        font-weight: 500;
        border: 0;
        padding: 20px 0 16px 0;
        background-color: #f15f79;
        border-radius: 33px;
        text-align: center;
    }
}


@media (max-width: $tablet-width) {
    .cardlist {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 37px 20px;
            padding-bottom: 51px;
            padding-left: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 212px;
            margin-bottom: 20px;

            &:nth-child(1) {
                .cardlist__icon img {
                    width: 127px;
                }
            }

            &:nth-child(2) {
                .cardlist__icon img {
                    width: 131px;
                }
            }

            &:nth-child(3) {
                .cardlist__icon img {
                    width: 162px;
                    height: 46px;
                }
            }

            &:nth-child(4) {
                .cardlist__icon img {
                    width: 116px;
                }
            }

            &:nth-child(5) {
                .cardlist__icon img {
                    width: 177px;
                    height: 32px;
                }
            }

            &:nth-child(6) {
                .cardlist__icon img {
                    width: 162px;
                    height: 65px;
                }
            }
        }
        
        &__title {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 11px;
        }

        &__description {
            flex-grow: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 19px;
        }

        &__button {
            flex-shrink: 0;
            width: 100%;
            color: #fff;
            font-weight: 500;
            border: 0;
            padding: 20px 0 16px 0;
            background-color: #f15f79;
            border-radius: 33px;
            text-align: center;
        }
    }
}


@media (max-width: $mobile-width) {
    .cardlist {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 39px 20px;
            padding-bottom: 39px;
            padding-left: 0;
        }

        &__item {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: 131px;
                margin-bottom: 20px;
            }
        }
        
        &__title {
            font-weight: 800;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 10px;
        }

        &__description {
            flex-grow: 1;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 20px;
        }

        &__button {
            flex-shrink: 0;
            width: 100%;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            border: 0;
            padding: 14px 0;
            background-color: #f15f79;
            border-radius: 33px;
            text-align: center;
        }
    }
}