.cardlist {

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px 30px;
        padding-bottom: 70px;
        padding-left: 17px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 273px;
        max-height: 346px;

        img {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    &__title {
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #1D2931;
        margin-bottom: 14px;
    }

    &__description {
        flex-grow: 1;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #1D2931;
        margin-bottom: 20px;
    }

    &__button {
        flex-shrink: 0;
        width: 100%;
        color: #fff;
        font-weight: 500;
        border: 0;
        padding: 20px 0 16px 0;
        background-color: #f15f79;
        border-radius: 33px;
        text-align: center;
    }
}


@media (max-width: $tablet-width) {
    .cardlist {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 37px 20px;
            padding-bottom: 51px;
            padding-left: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 212px;

            img {
                width: 100%;
                height: 101px;
                margin-bottom: 20px;
            }
        }
        
        &__title {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 11px;
        }

        &__description {
            flex-grow: 1;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 19px;
        }

        &__button {
            flex-shrink: 0;
            width: 100%;
            color: #fff;
            font-weight: 500;
            border: 0;
            padding: 20px 0 16px 0;
            background-color: #f15f79;
            border-radius: 33px;
            text-align: center;
        }
    }
}


@media (max-width: $mobile-width) {
    .cardlist {

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 39px 20px;
            padding-bottom: 39px;
            padding-left: 0;
        }

        &__item {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: 131px;
                margin-bottom: 20px;
            }
        }
        
        &__title {
            font-weight: 800;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 10px;
        }

        &__description {
            flex-grow: 1;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #1D2931;
            margin-bottom: 20px;
        }

        &__button {
            flex-shrink: 0;
            width: 100%;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            border: 0;
            padding: 14px 0;
            background-color: #f15f79;
            border-radius: 33px;
            text-align: center;
        }
    }
}