.partners {

    &__wrapper {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        padding: 49px 0 50px 18px;
        padding-bottom: 50px;
    }
    
    &__info {
        position: relative;
        width: 404px;

        &::before {
            display: block;
            position: absolute;
            content: "";
            background-image: url("../img/partners/redline.svg");
            background-size: 743px 34px;
            background-repeat: no-repeat;
            bottom: -33px;
            left: -362px;
            width: 743px;
            height: 34px;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1D2931;
        margin-bottom: 70px;
    }

    &__title {
        font-weight: 800;
        font-size: 43px;
        line-height: 52px;
        text-transform: uppercase;
        color: #1D2931;
        margin-bottom: 29px;
    }

    &__description {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #1D2931;
        margin-bottom: 70px;
    }

    img {
        position: absolute;
        top: 49px;
        right: 437px;
    }
}

@media (max-width: $tablet-width) {
    .partners {

        &__wrapper {
            display: flex;
            flex-direction: row;
            padding: 31px 0 64px;
        }
        
        &__info {
            position: relative;
            max-width: 404px;
            margin-right: 50px;

            &::before {
                display: block;
                position: absolute;
                content: "";
                background-image: url("../img/partners/redline.svg");
                background-size: 743px 34px;
                background-repeat: no-repeat;
                bottom: 1px;
                left: -474px;
                width: 743px;
                height: 34px;
            }
        }

        img {
            width: 386px;
            height: 343px;
        }

        &__link {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #1D2931;
            margin-bottom: 49px;
        }

        &__title {
            font-weight: 800;
            font-size: 29px;
            line-height: 35px;
            text-transform: uppercase;
            color: #1D2931;
            margin-bottom: 29px;
        }

        &__description{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #1D2931;
        }
    }
}


@media (max-width: $mobile-width) {
    .partners {
        position: relative;

        &__wrapper {
            display: flex;
            flex-direction: row;
            padding: 20px 0 54px 0;
        }
        
        &__info {
            position: relative;
            max-width: 404px;
            margin-right: 50px;

            &::before {
                display: block;
                position: absolute;
                content: "";
                background-image: url("../img/partners/redline.svg");
                background-size: 286px 19px;
                background-repeat: no-repeat;
                bottom: -19px;
                left: -123px;
                width: 286px;
                height: 19px;
            }
        }

        img {
            position: absolute;
            top: 41px;
            right: 0;
            width: 268px;
            height: 239px;
        }

        &__link {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #1D2931;
            margin-bottom: 20px;
        }

        &__title {
            max-width: 133px;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            color: #1D2931;
            margin-bottom: 178px;
        }

        &__description {
            width: 320px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    br {
        display: none;
    }
}