.case {
    padding-bottom: 70px;

    &__content {
        padding: 40px 0 0 17px;
    }

    &__list {
        max-width: 1145px;
        display: flex;
        justify-content: space-between;
        padding: 240px 0 0 42px;
        margin-bottom: 74px;
    }

    &__item {
        position: relative;
        width: 191px;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #1d2931;

        &::before {
            position: absolute;
            content: " ";
            background-image: url("../img/main/case_radius.svg");
            width: 190px;
            height: 190px;
            top: -210px;
            left: 0;
            align-items: center;
            justify-content: center;
        }

        &:nth-child(1)::after {
            position: absolute;
            content: "9 999";
            top: -142px;
            left: 30px;
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }

        &:nth-child(2)::after {
            position: absolute;
            content: "9";
            top: -141px;
            left: 80px;
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }

        &:nth-child(3)::after {
            position: absolute;
            content: "999";
            top: -141px;
            left: 50px;
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }

        &:nth-child(4)::after {
            position: absolute;
            content: "99";
            top: -141px;
            left: 65px;
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    .price {
        &__title {
            font-weight: 800;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            text-transform: uppercase;
            color: #1d2931;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            max-width: 983px;
            margin: 0 auto;
            padding-bottom: 48px;
        }

        &__item {
            position: relative;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #1d2931;

            &:nth-child(1)::before {
                position: absolute;
                content: " ";
                width: 142px;
                height: 4px;
                bottom: -7px;
                left: -4px;
                background: #f15f79;
            }
        }

        //// TODO

        &__list-wrapper {
            display: flex;
            flex-flow: row wrap;
            gap: 30px 30px;
            margin-bottom: 20px;
        }

        &__button {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            border: 0;
            color: #fff;
            background-color: #f15f79;
            padding: 22px 80px;
            border-radius: 33px;
            margin: 0 auto;
        }
    }
}

@media (max-width: $tablet-width) {
    .case {
        padding-bottom: 51px;

        &__content {
            @media (max-width: $tablet-width) {
                padding: 20px 0 0 0;
            }
        }

        &__list {
            @media (max-width: $tablet-width) {
                padding: 194px 0 0 0px;
                margin-bottom: 50px;
            }
        }

        &__item {
            font-size: 20px;
            line-height: 24px;

            &::before {
                @media (max-width: $tablet-width) {
                    background-size: 154px 154px;
                    background-repeat: no-repeat;
                    top: -164px;
                    left: 5px;
                }
            }

            &:nth-child(2)::after {
                @media (max-width: $tablet-width) {
                    left: 71px;
                }
            }

            &:nth-child(1)::after,
            &:nth-child(2)::after,
            &:nth-child(3)::after,
            &:nth-child(4)::after {
                @media (max-width: $tablet-width) {
                    font-size: 35px;
                    line-height: 43px;
                    text-align: center;
                    padding-top: 35px;
                }
            }
        }

        .price {
            &__title {
                @media (max-width: $tablet-width) {
                    font-size: 35px;
                    line-height: 43px;
                }
            }

            &__list {
                @media (max-width: $tablet-width) {
                    padding-bottom: 32px;
                    width: 768px;
                    overflow: hidden;
                }
            }

            &__item {
                @media (max-width: $tablet-width) {
                    font-size: 22px;
                    line-height: 27px;
                }

                &:nth-child(1)::before {
                    @media (max-width: $tablet-width) {
                        width: 100%;
                        height: 4px;
                        bottom: -8px;
                    }
                }
            }

            &__card-list {
                @media (max-width: $tablet-width) {
                    margin-bottom: 31px;
                }
            }

            .card-item {
                margin-right: 0;

                &:first-child {
                    margin-right: 23px;
                }

                &:last-child {
                    @media (max-width: $tablet-width) {
                        display: none;
                    }
                }

                &__information {
                    &::before {
                        @media (max-width: $tablet-width) {
                            background-position: center;
                            width: 85px;
                            height: 44px;
                            top: -65px;
                            left: 0;
                        }
                    }
                }

                &__wrapper img {
                    @media (max-width: $tablet-width) {
                        width: 100%;
                        height: 100%;
                    }
                }

                .information {
                    &__text {
                        @media (max-width: $tablet-width) {
                            font-size: 12px;
                            line-height: 15px;
                            margin-bottom: 8px;
                        }
                    }

                    &__name {
                        @media (max-width: $tablet-width) {
                            font-size: 18px;
                            line-height: 22px;
                            margin-bottom: 8px;
                        }
                    }

                    &__description {
                        @media (max-width: $tablet-width) {
                            font-size: 12px;
                            line-height: 15px;
                            padding-right: 0;
                        }
                    }

                    &__list {
                        .item-resource {
                            @media (max-width: $tablet-width) {
                                padding: 5px 0 0 21px;
                            }

                            &__description {
                                @media (max-width: $tablet-width) {
                                    font-size: 12px;
                                    line-height: 15px;
                                }
                            }

                            &__number {
                                @media (max-width: $tablet-width) {
                                    font-size: 15px;
                                    line-height: 18px;
                                }
                            }
                        }

                        .item-time {
                            @media (max-width: $tablet-width) {
                                font-size: 12px;
                                line-height: 15px;
                            }

                            &__result {
                                @media (max-width: $tablet-width) {
                                    font-size: 15px;
                                    line-height: 18px;
                                }
                            }

                            &__description {
                                @media (max-width: $tablet-width) {
                                    font-size: 12px;
                                    line-height: 15px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                    &__skill {
                        @media (max-width: $tablet-width) {
                            padding-bottom: 9px;
                        }

                        .skill {
                            &__item {
                                @media (max-width: $tablet-width) {
                                    margin-bottom: 8px;
                                }

                                &:nth-child(odd) {
                                    @media (max-width: $tablet-width) {
                                        margin-right: 28px;
                                    }
                                }
                            }

                            &__red-text {
                                @media (max-width: $tablet-width) {
                                    font-size: 12px;
                                    line-height: 15px;
                                }
                            }

                            &__black-text {
                                @media (max-width: $tablet-width) {
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                }
            }

            &__button {
                @media (max-width: $tablet-width) {
                    display: block;
                    width: 328px;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 17px 0;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .case {
        &__list {
            @media (max-width: $mobile-width) {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 170px 0 0 0;
                margin-bottom: 40px;
            }
        }

        &__item {
            @media (max-width: $mobile-width) {
                font-size: 18px;
                line-height: 22px;
                max-width: 140px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                @media (max-width: $mobile-width) {
                    margin-bottom: 169px;
                }
            }

            &::before {
                @media (max-width: $mobile-width) {
                    background-size: 140px 140px;
                    width: 140px;
                    height: 140px;
                    top: -150px;
                    left: 1px;
                }
            }

            &:nth-child(1)::after {
                @media (max-width: $mobile-width) {
                    top: -133px;
                    left: 28px;
                }
            }

            &:nth-child(2)::after {
                @media (max-width: $mobile-width) {
                    left: 62px;
                    top: -133px;
                }
            }

            &:nth-child(3)::after {
                @media (max-width: $mobile-width) {
                    left: 41px;
                    top: -133px;
                }
            }

            &:nth-child(4)::after {
                @media (max-width: $mobile-width) {
                    top: -133px;
                    left: 51px;
                }
            }

            &:nth-child(1)::after,
            &:nth-child(2)::after,
            &:nth-child(3)::after,
            &:nth-child(4)::after {
                @media (max-width: $mobile-width) {
                    font-size: 30px;
                    line-height: 37px;
                }
            }
        }

        .price {
            &__title {
                @media (max-width: $mobile-width) {
                    font-size: 22px;
                    line-height: 27px;
                }
            }

            &__list {
                @media (max-width: $mobile-width) {
                    padding-bottom: 8px;
                }
            }

            &__item {
                @media (max-width: $mobile-width) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            &__card-list {
                @media (max-width: $mobile-width) {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                }
            }

            .card-item {
                @media (max-width: $mobile-width) {
                    margin: 0 0 20px 0;
                }

                &:last-child {
                    @media (max-width: $mobile-width) {
                        display: block;
                    }
                }

                &__information {
                    &::before {
                        @media (max-width: $mobile-width) {
                            width: 97px;
                            height: 51px;
                            top: -62px;
                        }
                    }
                }

                &__wrapper img {
                    @media (max-width: $mobile-width) {
                        margin-bottom: 7px;
                    }
                }

                .information {
                    &__text {
                        @media (max-width: $mobile-width) {
                            margin-bottom: 9px;
                        }
                    }

                    &__name {
                        @media (max-width: $mobile-width) {
                            font-size: 16px;
                            line-height: 20px;
                            margin-bottom: 11px;
                        }
                    }

                    &__description {
                        @media (max-width: $mobile-width) {
                            margin-bottom: 9px;
                        }
                    }

                    &__list {
                        @media (max-width: $mobile-width) {
                            margin-bottom: 9px;
                        }

                        .item-resource {
                            &__description {
                                @media (max-width: $mobile-width) {
                                    font-size: 12px;
                                    line-height: 15px;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .item-time {
                            &__result {
                                @media (max-width: $mobile-width) {
                                    font-size: 12px;
                                    line-height: 15px;
                                    margin-bottom: 0;
                                }
                            }

                            &__description {
                                @media (max-width: $mobile-width) {
                                    margin-bottom: 1px;
                                }
                            }
                        }
                    }

                    &__skill {
                        @media (max-width: $mobile-width) {
                            padding: 0 0 16px 19px;
                        }

                        .skill {
                            &__item {
                                @media (max-width: $mobile-width) {
                                    width: 125px;
                                    margin-right: 7px;
                                }
                                &:nth-child(odd) {
                                    @media (max-width: $mobile-width) {
                                        margin-right: 22px;
                                    }
                                }
                            }

                            &__red-text {
                                @media (max-width: $mobile-width) {
                                    margin-bottom: 1px;
                                }
                            }
                        }
                    }
                }
            }

            &__button {
                @media (max-width: $mobile-width) {
                    margin: 0 auto;
                    width: 100%;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 14px 0;
                }
            }
        }
    }
}
