.launch {
    &__content {
        position: relative;
        max-width: 781px;
        padding-top: 86px;
        padding-left: 17px;
        margin-bottom: 70px;
        /*
        &::before {
            position: absolute;
            content: " ";
            background-image: url("../img/main/launch_banner_remake.png");
            background-repeat: no-repeat;
            width: 1023px;
            height: 717px;
            top: -21px;
            right: -681px;
            z-index: -3;
        }*/
    }

    &__slogan {
        font-size: 43px;
        line-height: 52px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 46px;

        @media (max-width: 1000px) {
            font-size: 40px;
        }

        @media (max-width: 860px) {
            font-size: 37px;
        }
    }

    &__colortext {
        color: #f15f79;
    }

    &__description {
        position: relative;
        max-width: 457px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin: 0 0 115px 0;
    }

    &__description p {
        color: #ffffff;
        font-size: 30px;
        line-height: 37px;

        @media (max-width: 1000px) {
            font-size: 28px;
            line-height: 33px;
        }

        @media (max-width: 860px) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    &__description::before {
        position: absolute;
        content: " ";
        background-image: url("../img/main/launch_backline.png");
        background-repeat: no-repeat;
        left: -370px;
        top: -13px;
        width: 900px;
        height: 200px;
        z-index: -1;

        @media (max-width: 1000px) {
            top: -19px;
        }

        @media (max-width: 860px) {
            top: -25px;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__button-app {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        border: none;
        color: #ffffff;
        background-color: #f15f79;
        padding: 22px 66px;
        margin-right: 33px;
        border-radius: 33px;
    }

    &__button-whatsapp {
        position: relative;
        width: 273px;
        height: 65px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        border: 2px solid #1d2931;
        border-radius: 33px;
        padding: 22px 0 22px 80px;

        &::before {
            position: absolute;
            content: " ";
            background-image: url("../img/main/WhatsAppLeada.svg");
            background-size: cover;
            background-repeat: no-repeat;
            top: 12px;
            left: 85px;
            width: 36px;
            height: 37px;
        }
    }
}

@media (max-width: $tablet-width) {
    .launch {
        &__content {
            @media (max-width: $tablet-width) {
                position: relative;
                max-width: 500px;
                padding-top: 17px;
                padding-left: 2px;
                margin-bottom: 40px;
            }
            /*
            &::before {
                @media (max-width: $tablet-width) {
                    position: absolute;
                    content: " ";
                    background-image: url("../img/main/main_banner_tablet.png");
                    width: 469px;
                    height: 384px;
                    background-repeat: no-repeat;
                    top: 76px;
                    right: -228px;
                    z-index: -3;
                }
            }*/
        }

        &__slogan {
            @media (max-width: $tablet-width) {
                font-weight: 800;
                font-size: 29px;
                line-height: 35px;
                text-transform: uppercase;
            }
        }

        &__description {
            @media (max-width: $tablet-width) {
                margin: 0 0 132px;
            }
        }

        &__description p {
            @media (max-width: $tablet-width) {
                max-width: 350px;
                font-weight: 600;
                font-size: 23px;
                line-height: 28px;
            }
        }

        &__description::before {
            @media (max-width: $tablet-width) {
                position: absolute;
                content: url("../img/main/launch_backline_tablet.png");
                background-repeat: no-repeat;
                left: -46px;
                top: -11px;
                width: 432px;
                height: 104px;
                z-index: -1;
            }
        }

        &__button-app {
            @media (max-width: $tablet-width) {
                width: 212px;
                height: 55px;
                padding: 0 30px;
                margin-right: 20px;
            }
        }

        &__button-whatsapp {
            @media (max-width: $tablet-width) {
                width: 212px;
                height: 55px;
                padding: 17px 0 22px 65px;
            }

            &::before {
                @media (max-width: $tablet-width) {
                    position: absolute;
                    content: " ";
                    background-image: url("../img/main/WhatsAppLeada.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    top: 6px;
                    left: 36px;
                    width: 36px;
                    height: 37px;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .launch {
        &__content {
            @media (max-width: $mobile-width) {
                padding-top: 22px;
                padding-left: 0;
                margin-bottom: 20px;
            }
            /*
            &::before {
                @media (max-width: $mobile-width) {
                    position: absolute;
                    content: " ";
                    background-image: url("../img/main/main_banner_tablet.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 319px;
                    height: 286px;
                    top: 107px;
                    right: 2px;
                    z-index: -3;
                }
            }*/
        }

        &__slogan {
            @media (max-width: $mobile-width) {
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 23px;
            }
        }

        &__description {
            @media (max-width: $mobile-width) {
                margin: 0 0 157px;
            }
        }

        &__description p {
            @media (max-width: $mobile-width) {
                max-width: 250px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__description::before {
            @media (max-width: $mobile-width) {
                position: absolute;
                content: " ";
                background-image: url("../img/main/launch_backline_tablet.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 310px;
                height: 80px;
            }
        }

        &__button {
            @media (max-width: $mobile-width) {
                display: flex;
                flex-direction: column;
            }
        }

        &__button-app {
            @media (max-width: $mobile-width) {
                width: 100%;
                height: 45px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                padding: 14px 88px;
                margin-bottom: 10px;
                color: #ffffff;
            }
        }

        &__button-whatsapp {
            @media (max-width: $mobile-width) {
                width: 300px;
                height: 45px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                border: 2px solid #1d2931;
                border-radius: 33px;
                padding: 14px 0 14px 48px;
            }

            &::before {
                @media (max-width: $mobile-width) {
                    position: absolute;
                    content: " ";
                    background-image: url("../img/main/WhatsAppLeada.svg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    top: 6px;
                    left: 85px;
                    width: 30px;
                    height: 31px;
                }
            }
        }
    }
}
