.catalog {
    &__wrapper {
        position: relative;
        padding: 30px 0 63px 0;
    }

    &__link {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        margin: 17px 0 48px 0;
    }

    &__title {
        position: relative;
        font-size: 43px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 40px;

        &::after {
            display: block;
            position: absolute;
            content: "";
            background-image: url("../img/partners/redline.svg");
            background-size: 743px 34px;
            background-repeat: no-repeat;
            width: 743px;
            height: 34px;
            right: -242px;
            top: 9px;
            transform: scale(-1, 1)
        }
    }

    &__market {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 0 auto;
    }
    
    &__list {
        width: 879px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 31px;
    }

        /*----------------------------------------------------------brand--------------------------------------------------------------*/
    .filter {
        width: 273px;
    
        &__sublist-button {
            display: block;
            margin-bottom: 10px;
            color: $red;
        }
        
        &__placeholder-input:checked ~ .filter__sublist {
            display: flex;
            margin-bottom: 31px;
        }
        
        &__placeholder-input:checked ~ &__sublist-button {
            color: $red;
        }
        
        .visually-hidden {
            position: absolute;
            clip: rect(1px 1px 1px 1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
        
        &__sublist {
            display: none;
            flex-flow: column wrap;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__sublist-item {
            font-size: 16px;

            input {
                box-sizing: border-box;
                appearance: none;
                background: white;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                width: 18px;
                height: 18px;
                margin-right: 9px;
            }
        }

        &__sublist-item:not(:last-child) {
            margin-bottom: 2px;
        }

        /*---------------------------------------------------------------type----------------------------------------------------------*/
        &__brand-button {
            display: block;
            margin-bottom: 10px;
            color: $red;
        }
        
        &__brand-placeholder-input:checked ~ .filter__brand-sublist {
            display: flex;
            margin-bottom: 31px;
        }
        
        &__brand-placeholder-input:checked ~ &__brand-button {
            color: $red;
        }
        
        .visually-hidden {
            position: absolute;
            clip: rect(1px 1px 1px 1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
        
        &__brand-sublist {
            display: none;
            flex-flow: column wrap;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__brand-sublist-item {
            font-size: 16px;

            input {
                box-sizing: border-box;
                appearance: none;
                background: white;
                border-radius: 3px;
                border: 1px solid rgba(0, 0, 0, 0.12);
                width: 18px;
                height: 18px;
                margin-right: 9px;
            }
        }

        &__brand-sublist-item:not(:last-child) {
            margin-bottom: 2px;
        }
        /*----------------------------------------------------------------------------------------------------------------*/
        
        &__range {
            margin-bottom: 23px;

            label {
                input {
                    width: 70px;
                    border-radius: 3px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    appearance: none;
                    margin: 0;
                }
            }
        }

        &__range > label {
            margin-right: 80px;
        }

        &__range-price {
            font-size: 16px;
            color: $red;
            margin-bottom: 12px;

            
        }

        &__scroll {
            width: 100%;
            margin-top: 8px;
            accent-color: $red;
        }

        &__button {
            display: block;
            width: 100%;
            min-height: 65px;
            pad: 30px 0;
            border: none;
            color: $white;
            border-radius: 33px;
            margin-bottom: 20px;
        }

        &__button-reset {
            display: block;
            width: 100%;
            border: none;
            background: transparent;
            font-size: 14px;
            cursor: pointer;
        }
    }

    

    .pagination {
        display: flex;
        flex-direction: row;
        width: 168px;
        font-size: 16px;
        line-height: 20px;
        margin: 0 auto;

        &__list {
            display: flex;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
            margin: 0 auto;
            gap: 0 19px;

            li {
                display: inline-block;
                font-size: 100%;
                width: auto;
                border-radius: 3px;

                a:hover, a:active {
                    color: $red;
                }

                &.current {
                
                    a {
                        color: $red;
                    }
                }
            }
        }

        &__ion-left {
            display: block;
            width: 25px;
            height: 26px;
            background-color: transparent;
            color: $red;

            &:hover {
                svg path {
                    stroke: $red;
                }
            }
        }

        &__ion-right {
            display: block;
            width: 25px;
            height: 26px;
            transform: rotate(180deg);

            &:hover {
                svg path {
                    stroke: $red;
                }
            }
        }
    }
}








