.catalog-item {
    overflow: hidden;
    position: relative;
    width: 273px;
    //height: 402px;
    padding: 20px;
    border: 1px solid $black;
    border-radius: 6px;

    @media (max-width: 890px) {
        width: 328px;
    }

    @media (max-width: 795px) {
        width: 315px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        margin: 0 0 22px 0;
    }

    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 101px 0;
        
    }

    &__date {
        font-weight: 600;
        font-size: 13px;
        line-height: 15px;
        color: $white;
        margin-bottom: 7px;
        padding-right: 25px;
    }

    &__list {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 74px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    &__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        margin-bottom: 8px;
        color: $white;
    }

    &__item-resource {
        width: 50%;
        background: $red;
        color: $white;
        padding: 12px 0 11px 20px;
    }

    &__number {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
    }

    &__item-time {
        width: 50%;
        background: $black;
        color: $white;
        padding: 12px 0 9px 15px;
        text-align: start;
    }

    &__result {
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
    }

    &__button {
        width: 100%;
        min-height: 55px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        border-radius: 33px;
    }

    a {
        &:hover {
            opacity: 1;
        }
    }

    &:hover {
        border: 1px solid $red;
    
        &__information {
            color: $red;
        }
    }
}

.catalog__catalog-item:hover {
    border: 1px solid $red;
    
    .catalog-item__information {
        color: $red;
    }

    a {
        opacity: 1;
    }
}

@media (max-width: $tablet-width) {
    .catalog-item {
        width: 212px;
        padding: 20px 10px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            width: 185px;
            font-size: 14px;
            line-height: 17px;
            margin: 0 0 12px 0;
        }

        &__img-wrapper {
            margin: 0 0 91px 0;
            width: 135px;
            height: 135px;

            img {
                background-size: contain;
            }
            
        }

        &__date {
            font-size: 13px;
            line-height: 15px;
            color: $white;
            margin-bottom: 4px;
            padding-right: 25px;
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 10px;
        }

        &__description {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: left;
            margin-bottom: 3px;
            color: $white;
        }

        &__item-resource {
            padding: 13px 0 13px 10px;
        }

        &__information {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            padding: 0 19px;
            margin-bottom: 12px;
            color: $black;
        }

        &__text {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            padding: 0 19px;
            margin-bottom: 18px;
            color: $black;
        }

        &__number {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }

        &__item-time {
            width: 50%;
            color: $white;
            padding: 14px 1px 6px 12px;
            text-align: start;
        }

        &__button {
            min-height: 45px;
        }

        &__result {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

@media (max-width: $mobile-width) {
    .catalog-item {
        overflow: hidden;
        width: 300px;
        border: 1px solid $black;
        border-radius: 6px;

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            width: 200px;
            font-size: 16px;
            margin: 0 0 12px 0;
        }

        &__img-wrapper {
            margin: 0 0 91px 0;
            width: 166px;
            height: 166px;

            img {
                background-size: contain;
            }
            
        }

        &__date {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 4px;
            padding-right: 0;
        }

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 11px;
        }

        &__description {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: right;
            margin-bottom: 3px;
            color: $white;
        }

        &__item-resource {
            width: 50%;
            background: $red;
            color: $white;
            padding: 6px 0 0 20px;
        }

        &__information {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            padding: 0 19px;
            margin-bottom: 12px;
            color: $black;
        }

        &__text {
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            padding: 0 19px;
            margin-bottom: 18px;
            color: $black;
        }

        &__number {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }

        &__item-time {
            width: 50%;
            background: $red;
            color: $white;
            padding: 5px 17px 3px 0;
            text-align: end;
        }

        &__result {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
