.market-features {
    overflow: hidden;
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 30px;
        margin-bottom: 70px;

        @media (max-width: 1000px) {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;
        width: 374px;
        height: 278px;
        background: $black;
        border-radius: 33px;
        z-index: 10;

        @media (max-width: 1000px) {
            max-width: 380px;
        }

        @media (max-width: 870px) {
            width: 320px;
        }

        &::after {
            position: absolute;
            content: " ";
            background-image: url("../img/main/cooperation_radius.png");
            background-size: cover;
            top: 0;
            left: 0;
            width: 130px;
            height: 121px;
            opacity: 0.4;
        }

        &:nth-child(1) {
            svg {
                margin: 21px 0 0 33px;
                width: 54px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }

        &:nth-child(2) {
            svg {
                margin: 19px 0 0 20px;
                width: 84px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }

        &:nth-child(3) {
            svg {
                margin: 20px 0 0 30px;
                width: 54px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }

        &:nth-child(4) {
            svg {
                margin: 20px 0 0 30px;
                width: 54px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }

        &:nth-child(5) {
            svg {
                margin: 20px 0 0 30px;
                width: 54px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }

        &:nth-child(6) {
            svg {
                margin: 20px 0 0 30px;
                width: 54px;
                height: 69px;
                fill: $white;
                opacity: 1;
            }
        }
    }

    &__title {
        position: relative;
        font-weight: 600;
        font-size: 45px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        padding: 70px 0 49px 0;
        text-align: start;

        &::before {
            position: absolute;
            content: url("../img/main/coop_blackline.svg");
            top: 71px;
            right: -451px;
            width: 844px;
            height: 34px;

            @media (max-width: 1280px) {
                right: -840px;
            }
        }

        &::after {
            position: absolute;
            content: "";
            width: 250%;
            height: 4px;
            background-color: #1d2931;
            top: 90px;
            right: -287%;
        }
    }

    &__item:nth-child(2) {
        p {
            padding: 36px 60px 0 30px;
        }
    }

    &__item:nth-child(3) {
        p {
            padding: 36px 130px 0 30px;
        }
    }

    &__item:nth-child(6) {
        p {
            padding: 36px 15px 0 30px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: #fff;
        padding: 36px 66px 0 30px;
        text-align: start;
    }
}

@media (max-width: $tablet-width) {
    .market-features {
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px 20px;
            margin-bottom: 50px;
    
            @media (max-width: 1000px) {
                justify-content: space-between;
            }
        }
    
        &__item {
            position: relative;
            width: 374px;
            height: 267px;
            background: $black;
            border-radius: 33px;
            z-index: 10;
    
            @media (max-width: 1000px) {
                max-width: 380px;
            }
    
            @media (max-width: 870px) {
                width: 328px;
            }
    
            &::after {
                position: absolute;
                content: " ";
                background-image: url("../img/main/cooperation_radius.png");
                background-size: cover;
                top: 0;
                left: 0;
                width: 130px;
                height: 121px;
                opacity: 0.4;
            }
    
            &:nth-child(1) {
                svg {
                    margin: 24px 0 0 33px;
                    width: 54px;
                    height: 69px;
                    fill: $white;
                    opacity: 1;
                }
            }
    
            &:nth-child(2) {
                svg {
                    margin: 23px 0 0 20px;
                    width: 84px;
                    height: 69px;
                    fill: $white;
                    opacity: 1;
                }
            }
    
            &:nth-child(3) {
                svg {
                    margin: 25px 0 0 33px;
                    width: 54px;
                    height: 69px;
                    fill: $white;
                    opacity: 1;
                }
            }
    
            &:nth-child(4) {
                svg {
                    margin: 21px 0 0 31px;
                    width: 60px;
                    height: 81px;
                    fill: $white;
                    opacity: 1;
                }
            }
    
            &:nth-child(5) {
                svg {
                    margin: 26px 0 0 26px;
                    width: 70px;
                    height: 70px;
                    fill: $white;
                    opacity: 1;
                }
            }
    
            &:nth-child(6) {
                svg {
                    margin: 26px 0 0 30px;
                    width: 64px;
                    height: 69px;
                    fill: $white;
                    opacity: 1;
                }
            }
        }
    
        &__title {
            width: 385px;
            font-size: 35px;
            line-height: normal;
            text-transform: uppercase;
            padding: 8px 0 31px 0;
            text-align: start;
    
            &::before {
                position: absolute;
                content: url("../img/main/coop_blackline.svg");
                top: 34px;
                right: -846px;
                width: 844px;
                height: 34px;
            }
    
            &::after {
                display: none;
            }
        }
    
        &__item:nth-child(2) {
            p {
                padding: 44px 30px 0 30px;
            }
        }
    
        &__item:nth-child(3) {
            p {
                padding: 42px 115px 0 30px;
            }
        }

        &__item:nth-child(4) {
            p {
                padding: 34px 45px 0 30px;
            }
        }

        &__item:nth-child(5) {
            p {
                padding: 40px 45px 0 30px;
            }
        }
    
        &__item:nth-child(6) {
            p {
                padding: 41px 34px 0 30px;
            }
        }
    
        &__text {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
            padding: 43px 55px 0 30px;
            text-align: start;
        }
    }
}